/*
	Syntax of using CSS rules:
	
	selector {
		property: value;
	}
*/

/*universal selector*/
/*it targets all the elements in our webpage*/

*{
/*font-family property changes the style of the font*/
	font-family: "Courier New", monospace;
/*font -size changes the size of the text*/
	font-size: 20px;
}

/*Type selector*/
/*tag-name*/

h1{
	color: yellow;
}

/*ID selector*/
/*It targets only one element*/
/*the letter-spacing property changes the spaces between the characters in a text	*/
#zuitt-motto{
	letter-spacing: 5px;
}

/*class selector*/
/*.class-name*/
/*text-transform transition-property: changes the font to a certain case;	*/
.offering-item{
	text-transform: uppercase;
}

/*Attribute selector*/
/*[attribute]*/
[required]{
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 90%;
}

/*h3{
	letter-spacing: 25px !important;
}*/

/*adjacent sibling selector*/
/*element-for-reference + target+element*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*descendant selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #4ec2be;
}

/*general sibling selector*/
h2 ~ a {
	text-decoration: none;
}

/*child selector*/
body > section > form > label {
	color: rgb(78, 194, 190);
}

body {
	background-color: skyblue;
}

section {
	height: 100vh;
	text-align: center;
}

html{
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

a:hover {
	background-color: #a32fa3;
}

div{
	display: inline;
	float: right;
}

ol{
	list-style-type: none;
}

form{
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw;
/*	position property changes the position of an elemenet based on a certain criteria*/
	position: relative;
	left: 37.5%;
}

button{
	background-color: #a32fa3;
	color: white;
	border: 0;
	border-radius: 15px;
}