 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}

.homepage {
   height: 100vh;
   background: url("bg4.jpg");
   position: relative;
   background-size: cover;
}

.aboutMe2 {
   height: 100vh;
   background-color: #d5f3f7;
   position: relative;
   background-size: cover;
}

.projects2{
   height: 100vh;
   background-color: #f0f9fa;
   position: relative;
   background-size: cover;
}

.contact2{
   height: 100vh;
   background-color: #d5f3f7;
   position: relative;
   background-size: cover;
}

.tools2 {
   height: 100vh;
   background-color: #f0f9fa;
   position: relative;
   background-size: cover;
}


.evan {
   font-size: 4rem;
   font-family: 'Permanent Marker', cursive;
}

.fullstack {
   font-size: 2rem;
   font-family: 'Permanent Marker', cursive;
}

.landing2  {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/*about me image*/

.aboutMe {
   width: 100%;
}

.blue {
   background-color: #0d7791;
}

.card2 {
   width: 18rem;
}

.float {
   float: right;
}

.footer1 {
   background-color: #122c54;
   position: relative;
   font-size: 16px;
}