* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Open sans, sans-serif;
}

nav ul{
	list-style-type: none;
}

.nav-logo {
	float: left;
	border: 1px;
}

.right-nav {
	float: right;
	border: 1px;
}

nav {
	position: sticky;
	top: 0;
}

.nav {
	display: inline-block;
	margin: 10px;
}


.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}


#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    display: inline-block;
    margin-top: 10px;
    min-width: 100vw;
}


.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
    min-height: 50vh;
}

.container {
	color: white;
	text-align: right;
	margin: 0;
	line-height: 4rem;
}

/*.container {
	height: 99.9%;
	width: 100%;
	max-width: 100%;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
}*/

.title {
	font-size: 2rem;
	font-family: Zilla Slab;
	padding-right: 15%;

}

.subtitle {
	color: white;
	font-size: 20px;
	font-family: Zilla Slab;
/*	padding-left: 20%;*/
	padding-right: 5%;
	text-align: right;
	position: relative;
	top: 26%;
	left: 62%;
	line-height: 1.8em;
	height: 10em;
	width: 28%;
	margin-right: 150px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	position: relative;
	right: 270px;
}


.title-2 {
	font-family: Zilla Slab;
	text-align: center;
	margin-top: 2rem;
}

.intro-description {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.prefooter-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

.footer {
	text-align: center;
}
