/*Apply an external styling to a paragraph tag.
Change the font-family and the font size of all elements using the universal selector.*/

#external-apply{
	color: yellow;
}

*{
	font-family: "Arial", monospace;
	font-display: 20px;
}

h1{
	font-size: 45px;
}

#uppercase{
	text-transform: uppercase;
}

.language{
	background-color: #7ffabf;
}

[type]{
	border-style: solid;
}

img + ol {
	list-style-type: none ;
}

body img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h2 ~ p {
	text-align: center;
}

body > section > #others {
	letter-spacing: 5px;
}

